body {
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 15px;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1.55em;
  }
* {
    box-sizing: border-box;
  }

.content {
  
}
 /* Главный блок header */
.header {
  width: 751px;
  height: 236px;
  background-color: #2D7053;  
}
/* Обертка на header */
.wrapper-header {
  
}

.cirkle {
  width: 142px;
  height: 142px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 0 12px black;
}

.wrapper-header {
    width: 751px;
    height: 236px;
}

.wrapper-header .cirkle {
    margin: 49px 0 0 52px;
}

.wrap1-1 {
    width: 172px;
    height: 120px;
    display: inline-block;
    vertical-align: top;
    padding-top: 9%;
}

.wrap1-2 {
    display: inline-block;
    width: 147px;
    height: 90px;
    vertical-align: top;
    padding-left: 26%;
    padding-top: 9%;
}


.text-header {
  width: 160px;
  font-size: 24px;
  line-height: 1.2em;
  color: #FFFFFF;
  display: inline-block;
  padding-left: 1em;
  line-height: 1.3;
}

.nav-row {
  width: 85px;
  height: 13px;
  border-radius:  20px 20px;
  background-color: rgba(255, 255, 255, 0.742);
  display: inline-block;
}

ul {
  width: 100px;
}

li {
  list-style-type: none;
 }

 .pic-1 {
    background-image: url("../img/pic.jpg");
    background-repeat: no-repeat;
    background-color: lightgray;
    height: 466px;
    width: 751px;
    padding-top: 47%;
 }

 .button {
     color: white;
     width: 342px;
     height: 75px;
     background-color: #CB9223;
     display: inline-block;
 }

 .wrap-pic {
    display: inline-block;
    text-align: center;
 }

 .button > a {
        display: block;
        text-align: center;
        padding-top: 26px;
        text-decoration: none;
        color: white;
        transition: 0.2s;
 }
 .button > a:hover {
    color: #2D7053;
 }

 .button:hover {
    background-color: #e1a52d;
    transition: 0.2s;
 }

 .name > span {
    display: inline-block;
    width: 213px;
    text-align: left;
 }

 .name {
    display: inline-block;
    width: 212px;
    height: 100px;
    vertical-align: top;
    padding-top: 140px;
    font-size: 2em;
    font-size: 1.3em;
 }

 .doctor {
     width: 751px;
     height: 331px;
 }

 .photo {
     width: 247px;
     height: 247px;
     border-radius: 50%;
     background-image: url("../img/247.png");
     display: inline-block;
     margin: 56px 75px 0 52px;
 }

 .name > span > h2 {
    margin: auto;
    padding-bottom: 12px;
    font-weight: lighter;
 }

 .more {
     width: 752px;
 }

 .more > p {
    width: 629px;
    height: 135px;
    text-align: left;
    font-size: 1.1em;
    padding-left: 52px;
 }

 .more > h2 {
    font-weight: lighter;
    padding-left: 52px;
    font-size: 1.9em;
 }

 .more > ul {
    width: 260px;
    padding-top: 12px;
    padding-left: 52px;
    font-size: 1.1em;
 }

.more>ul>li::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 1.2px;
    background-color: black;
    margin-right: 7px;
    vertical-align: middle;
    box-shadow: 0 0 1.3px;
}

.more > div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 49px;
}

.footer {
    width: 751px;
    height: 154px;
    display: inline-block;
    background-color: #888888;
    margin-top: 49px;
}

.footer .cirkle {
    width: 97px;
    height: 97px;
    display: inline-block;
    margin: 29px 0 0 52px;

}

.addrres {
    display: inline-block;
    text-decoration: none;
    color: white;

}

.phone > a {
    text-decoration: none;
    color: white;
}

.email > a {
    text-decoration: none;
    color: white;
}

.wrap-2 {
    display: inline-block;
    padding-left: 100px;
    height: 120px;
    width: 253px;
}

.wrap-1 {
    display: inline-block;
    height: 97px;
    width: 200px;
    margin-left: 103px;
}

.phone {
    margin-bottom: 29px;
    padding-left: 12px;
}
}
